@import './base.css';

/* Color :
 first color : #AEF6C7
 second color : #5B8266
 third color : #3E6259
 low green : #294936
 background : #212922
*/

body {
  background-color: #294936;
  width: 100%;
  height: 100%
}
